.substrate {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
}

.create-table-pop-up {
    height: 30vh;
    width: 30vw;
    position: absolute;
    top: calc(50vh - 20vh);
    left: calc(50vw - 30vh);
    background-color: white;
    border-radius: 20px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 5vw;
}



.create-table-pop-up__close-btn {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -25px;
    right: -25px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.create-table-pop-up__input {
    height: 5vh;
    width: 100%;
    margin-bottom: 10px;
    border: 2px solid rgb(108, 135, 199, .3);
}

.create-table-pop-up__create-btn {
    height: 5vh;
    width: 10vw;
    background-color: rgba(75, 135, 199, .4);
    border: 2px solid rgb(108, 135, 199, 1);
    border-radius: 10px;
}