.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: grey;
}
.header__logo-link {
  text-decoration: none;
}
.header__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 10px;
  overflow: hidden;
}
.header__logo-block {
  background-color: white;
  height: 100%;
}
.header__logo-text {
  font-size: 24px;
  font-weight: bold;
}
.header__logo-text_white {
  color: white;
}
.header__logo-text_black {
  color: black;
}
.header__menu {
  width: 60%;
}
.header__menu-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__menu-item {
  list-style-type: none;
}
.header__menu-link {
  text-decoration: none;
  color: black;
}
.header__searchbar {
  width: 20%;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
}
.header__profile {
  height: 50px;
  width: 50px;
  background-color: red;
  border-radius: 50%;
}
