.head {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #555;
  padding: 10px 20px;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.header__in-wr {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
}
.search {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  
}
.sirch__input-todo {
  width: 300px;
}
.logo {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  width: 150px;
  box-sizing: border-box;
}
.logo__latter-bgc {
  background-color: white;
  border-radius: 8px;
  border: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo__first-latter {
  font-size: 30px;
  text-transform: uppercase;
  color: black;
}
.logo__second-latter {
  font-size: 30px;
  text-transform: uppercase;
  color: white;
}

.menu {
  width: 730px;
}
.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  margin-left: 10%;
}
.menu__list-item {
  list-style-type: none;
  text-align: center;
  font-size: 10px;
}
.menu__link {
  color: #e2e2e6;
  text-decoration: none;
}
.menu__link_active {
  color: #e74c3c;
  text-decoration: none;
  /*border-bottom: 1px solid #e74c3c;*/
  padding-bottom: 20px;
}
.menu__link:hover {
  color: #e74c3c;
  /*border-bottom: 1px solid #e74c3c;*/
  padding-bottom: 20px;
}
@media only screen and (max-width: 1100px) {
  .container {
    width: 700px;
  }
  .search {
    padding-right: 20px;
  }
}
a {
  text-decoration: none;
}
