* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(/media/alpine-ga11a67e78_1920.jpg);
  background-size: 100vw 100vh;

}


.container-main {
  display: flex;
  flex-direction: row;
  bottom: 0;
  overflow-x: auto;
  height: 100%;
  position: relative;
}


/*ul li {

  border: solid 1px black;
  margin-top: 5px;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}
li{
  margin: 10px 0;
}
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
  
}
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
 
}
*/

/*.header {
  position: relative;
  background-color: rgba(95, 95, 95, 0.7);
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}
*/
.container-button {
  position: absolute;
  bottom: 0;
}