* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/media/default.jpg);
  background-size: 100vw 100vh;

}

.container-main {
  display: flex;
  flex-direction: row;
  bottom: 0;
  overflow-x: auto;
  height: 100%;
  position: relative;
  padding: 20px;
}
.container-main-wr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}



.addTableBtn {
  height: 40vh;
  min-width: 15vw;
  background-color: rgba(189, 195, 199, .4);
  border: 2px dashed rgba(108, 122, 137, 1);
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  color: white;
}

.addTableBtn:hover {
  background-color: rgba(75, 135, 199, .4);
  border: 2px dashed rgb(108, 135, 199, 1);
}

.container-button {
  position: absolute;
  bottom: 0;
  width: 16vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#post,
#delete,
#get {
  height: 5vh;
  width: 5vw;
  background-color: rgba(75, 135, 199, .4);
  border: 2px solid rgb(108, 135, 199, 1);
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

#post:hover,
#delete:hover,
#get:hover {
  background-color: rgba(75, 135, 199, .8);
}