* {
    box-sizing: border-box;
    margin: 0;
  }
  .head{
    background-color: #556B2F;
    margin-bottom: 50px;
  }
  
.velcom {

    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
   margin-top: 50px;
}
.menu-wrapper {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0px;

}
.button-test {
}
.workspace-menu {
margin-left: 300px;
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
   
}
.create-new-worcspace {
}
.tacke-to-create {
}
.new-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: orange;
    width: 200px;
    height: 100px;
    
}
h1{
    text-align: center;
    font-size: 50px;
    
}
.user{
  width: 40px;
  height: 40px;
margin-left: 70%;
}