.vidget-bar__content-wheather {
  position: absolute;
  padding-top: 10px;
  display: none;
  text-align: center;
  font-size: 15px;
}
.vidget-bar__content-wheather_active {
  display: block;
}
.vidget-bar__info-wheather {
  padding-top: 10%;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vidget-bar__search {
  padding-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
